<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Angular Projects</a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/skills" routerLinkActive="active" class="nav-link">Skills</a>
        </li>
        <li class="nav-item">
          <a routerLink="/personal-projects" routerLinkActive="active" class="nav-link">Personal Projects</a>
        </li>
        <li class="nav-item">
          <a routerLink="/school-projects" routerLinkActive="active" class="nav-link">School Projects</a>
        </li>
        <li class="nav-item">
          <a routerLink="/resume" routerLinkActive="active" class="nav-link">Resume</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  
